BOINCRS_ENDPOINT=127.0.0.1:31416
BOINCRS_PASSWORD_FILE=/etc/boinc-client/gui_rpc_auth.cfg
BOINCRS_PRIMEGRID_ACCOUNT_KEY=PUT_PRIMEGRID_AUTHENTICATOR_HERE
BOINCRS_ASTEROIDS_ACCOUNT_KEY=PUT_ASTEROIDS_AUTHENTICATOR_HERE
